{% extends "app1/index.html" %}
{% block main %}
<!-- 新規作成画面-->
<form method="post">
    {% csrf_token %}
    <!-- 自動更新用検索条件 -->
    <div class="container-fluid ml-0">

        <!-- 登録形態 -->
        <div class="container-fluid ml-5" >
            <div class="row">
                <div class="col-3 border bg-light">登録形態</div>
                <div class="col-2 form-check">
                    <input class="form-check-input" type="radio" name="registrationFormRadioButton" id="registrationFormRadioButton" value="0">
                    <label class="form-check-label" for="registrationFormRadioButton">
                        エスコート
                    </label>
                </div>
                <div class="col-2 form-check">
                    <input class="form-check-input" type="radio" name="registrationFormRadioButton" id="registrationFormRadioButton" value="1">
                    <label class="form-check-label" for="registrationFormRadioButton">
                        MySTYLE(UAH含む)
                    </label>
                </div>    
                <div class="col-1 form-check">
                    <input class="form-check-input" type="radio" name="registrationFormRadioButton" id="registrationFormRadioButton" value="2">
                    <label class="form-check-label" for="registrationFormRadioButton">
                    航空券
                    </label>
                </div>
                <div class="col-1 form-check">
                    <input class="form-check-input" type="radio" name="registrationFormRadioButton" id="registrationFormRadioButton" value="3">
                    <label class="form-check-label" for="registrationFormRadioButton">
                    ホテル
                    </label>
                </div>
            </div>
        </div> 

        <!-- 出力先 -->
        <div class="container-fluid ml-5" >
            <div class="row">
                <div class="col-3 border bg-light ">出力先</div>
                <div class="col-8 border">
                    <input class="ml-1" type="checkbox" id="outputDestinationJtbChackBox" name="outputDestinationJtbChackBox" />
                    <label for="horns">JTB</label>
                    <input class="ml-1" type="checkbox" id="outputDestinationTravelChackBox" name="outputDestinationTravelChackBox" />
                    <label for="horns">トラベルコ</label>
                    <input class="ml-1" type="checkbox" id="outputDestinationPamphletChackBox" name="outputDestinationPamphletChackBox" />
                    <label for="horns">パンフレット</label>
                </div>
            </div>
        </div>  

        <!-- 出発地 -->
        <div class="container-fluid ml-5" >
            <div class="row">
                <!-- 出発地 -->
                <div class="col-3 border bg-light">出発地</div>
                <div class="col-3 border">
                    <select class="form-select" aria-label="Default select example" id="departurePoint" name="departurePoint">
                        <option selected>---------</option>
                        <option value="1">東京(羽田⁺成田)</option>
                        <option value="2">東京(羽田)</option>
                        <option value="3">東京(成田)</option>
                        <option value="4">大阪(関空+伊丹+神戸)</option>
                        <option value="5">札幌(新札幌)</option>
                        <option value="6">名古屋(新千歳)</option>
                        <option value="7">福岡</option>
                    </select>
                </div>
                <!-- 大人人数 -->
                <div class="col-3 border bg-light">大人人数</div>
                <div class="col-3 border">
                    <input type="text" name="adultNum" size="10">
                </div>
            </div>
        </div>

        <!-- 出発日設定時間 -->
        <div class="container-fluid ml-5" >
            <div class="row">
                <div class="col-3 border bg-light">出発日設定時間</div>
                <div class="col-8 border form-check">
                    
                    <!-- 絶対設定 -->
                    <input class="form-check-input" type="radio" name="departureDateSettingRadio" id="departureDateSettingRadio" value="0">
                    <label class="form-check-label" for="departureDateSettingRadio">絶対設定</label>
                    <input type="date" class="ml-4" id="absoluteSettingStartDate" name="absoluteSettingStartDate" value="2018-07-22" min="2018-01-01" max="2018-12-31" />
                    <Label>～</Label>
                    <input type="date" id="absoluteSettingEndDate" name="absoluteSettingEndDate" value="2018-07-22" min="2018-01-01" max="2018-12-31" />
                    <br>

                    <!-- 相対設定1 -->
                    <input class="form-check-input" type="radio" name="departureDateSettingRadio" id="departureDateSettingRadio" value="1">
                    <label class="form-check-label" for="departureDateSettingRadio">相対設定1</label>
                    <select class="form-select ml-3" aria-label="Default select example" id="relativeSettings1StartList" name="relativeSettings1StartList">
                            <option selected>---------</option>
                            <option value="1">サンプル1</option>
                            <option value="2">サンプル2</option>
                            <option value="3">サンプル3</option>
                            <option value="4">サンプル4</option>
                            <option value="5">サンプル5</option>
                            <option value="6">サンプル6</option>
                            <option value="7">サンプル7</option>
                    </select>
                    <Label>～</Label>
                    <select class="form-select ml-3" aria-label="Default select example" id="relativeSettings1EndList" name="relativeSettings1EndList">
                        <option selected>---------</option>
                        <option value="1">サンプル1</option>
                        <option value="2">サンプル2</option>
                        <option value="3">サンプル3</option>
                        <option value="4">サンプル4</option>
                        <option value="5">サンプル5</option>
                        <option value="6">サンプル6</option>
                        <option value="7">サンプル7</option>
                    </select>                   
                    <br>

                    <!-- 相対設定2 -->
                    <input class="form-check-input" type="radio" name="departureDateSettingRadio" id="departureDateSettingRadio" value="2">
                    <label class="form-check-label" for="departureDateSettingRadio">相対設定2</label>
                    <input type="text" class="ml-3" size="3" id="relativeSettings2StartDayTxt" name="relativeSettings2StartDayTxt" value=""/>
                    <Label>日後～</Label>
                    <input type="text" class="ml-3" size="3" id="relativeSettings2EndDayTxt" name="relativeSettings2EndDayTxt" value=""/>
                    <Label>日後</Label>
                </div>
            </div>
        </div>

        <!-- ルートパッケージID -->
        <div class="container-fluid ml-5" >
            <div class="row">
                <div class="col-3 border bg-light">ルートパッケージID</div>
                <div class="col-8 border">
                    <input type="text" name="rootPackageId">
                </div>
            </div>
        </div>  

        <!-- サービスパッケージID -->
        <div class="container-fluid ml-5" >
            <div class="row">
                <div class="col-3 border bg-light">サービスパッケージID</div>

                <!-- サービスパッケージID行 1列目-->
                <div class="d-flex flex-column ml-1">
                    <div class="p-2">
                        <div class="d-flex flex-row ml-1">
                            <div class="p-2 bg-light border">1都市目</div>
                            <div class="p-2 border">
                                <input type="text" id="firstCity" name="firstCity">
                            </div>
                        </div>
                    </div>
                    <div class="p-2">
                        <div class="d-flex flex-row ml-1">
                            <div class="p-2 bg-light border">2都市目</div>
                            <div class="p-2 border">
                                <input type="text" id="secondtCity" name="secondtCity">
                            </div>
                        </div>
                    </div>
                    <div class="p-2">
                        <div class="d-flex flex-row ml-1">
                            <div class="p-2 bg-light border">3都市目</div>
                            <div class="p-2 border">
                                <input type="text" id="thirdCity" name="thirdCity">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- サービスパッケージID行 2列目-->
                <div class="d-flex flex-column ml-1">
                    <div class="p-2">
                        <div class="d-flex flex-row ml-1">
                            <div class="p-2 bg-light border">現地出発日</div>
                            <div class="p-2 border">
                                <input type="text" id="firstCityDepartureDate" name="firstCityDepartureDate">
                                <a>日後</a>
                            </div>
                        </div>
                    </div>
                    <div class="p-2">
                        <div class="d-flex flex-row ml-1">
                            <div class="p-2 bg-light border">LOP会社コード</div>
                            <div class="p-2 border">
                                <input type="text" id="firstCityLopCompanyCode" name="firstCityLopCompanyCode">
                            </div>
                        </div>
                    </div>
                    <div class="p-2">
                        <div class="d-flex flex-row ml-1">
                            <div class="p-2 bg-light border">現地出発日</div>
                            <div class="p-2 border">
                                <input type="text" id="secondtCityDepartureDate" name="secondtCityDepartureDate">
                                <a>日後</a>
                            </div>
                        </div>
                    </div>
                    <div class="p-2">
                        <div class="d-flex flex-row ml-1">
                            <div class="p-2 bg-light border">現地出発日</div>
                            <div class="p-2 border">
                                <input type="text" id="thirdCityDepartureDate" name="thirdCityDepartureDate">
                                <a>日後</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- サービスパッケージID行 3列目-->
                <div class="d-flex flex-column ml-1">
                    <div class="p-2">
                        <div class="d-flex flex-row ml-1">
                            <div class="p-2 bg-light border">ホテルタリフコード</div>
                            <div class="p-2 border">
                                <input type="text" id="firstCityHotelTariffCode" name="firstCityHotelTariffCode">
                                <a>日後</a>
                            </div>
                        </div>
                    </div>
                    <div class="p-2">
                        <div class="d-flex flex-row ml-1">
                            <div class="p-2 bg-light border">プランID</div>
                            <div class="p-2 border">
                                <input type="text" id="firstCityPlanId" name="firstCityPlanId">
                            </div>
                        </div>
                    </div>
                    <div class="p-2">
                        <div class="d-flex flex-row ml-1">
                            <div class="p-2 bg-light border">ホテルタリフコード</div>
                            <div class="p-2 border">
                                <input type="text" id="secondtCityHotelTariffCode" name="secondtCityHotelTariffCode">
                                <a>日後</a>
                            </div>
                        </div>
                    </div>
                    <div class="p-2">
                        <div class="d-flex flex-row ml-1">
                            <div class="p-2 bg-light border">ホテルタリフコード</div>
                            <div class="p-2 border">
                                <input type="text" id="thirdCityHotelTariffCode" name="thirdCityHotelTariffCode">
                                <a>日後</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 航空会社 -->
        <div class="container-fluid ml-5" >
            <div class="row">
                <div class="col-3 border bg-light">航空会社</div>
                <div class="col-8 border">
                    <input type="text" id="airlinesSelectTxt" name="airlinesSelectTxt" size="3" >
                    <input type="button" id="airlinesSelectButton" name="airlinesSelectButton" value="航空会社選択"> 
                </div>
            </div>
        </div>

        <!-- キャビンクラス（往路） -->
        <div class="container-fluid ml-5" >
            <div class="row">
                <!-- キャビンクラス（往路）  -->
                <div class="col-3 border bg-light">キャビンクラス（往路）</div>
                <div class="col-1 form-check">
                    <input class="form-check-input" type="radio" name="cabinClassOutboundTripRadioButton" id="cabinClassOutboundTripRadioButton" value="0">
                    <label class="form-check-label" for="cabinClassOutboundTripRadioButton">
                        エコノミー
                    </label>
                </div>
                <div class="col-1 form-check">
                    <input class="form-check-input" type="radio" name="cabinClassOutboundTripRadioButton" id="cabinClassOutboundTripRadioButton" value="1">
                    <label class="form-check-label" for="cabinClassOutboundTripRadioButton">
                        プレミアムエコノミー
                    </label>
                </div>    
                <div class="col-1 form-check">
                    <input class="form-check-input" type="radio" name="cabinClassOutboundTripRadioButton" id="cabinClassOutboundTripRadioButton" value="2">
                    <label class="form-check-label" for="cabinClassOutboundTripRadioButton">
                        ビジネス
                    </label>
                </div>
                <div class="col-1 form-check">
                    <input class="form-check-input" type="radio" name="cabinClassOutboundTripRadioButton" id="cabinClassOutboundTripRadioButton" value="3">
                    <label class="form-check-label" for="cabinClassOutboundTripRadioButton">
                        ファースト
                    </label>
                </div>
                <!-- キャビンクラス（復路）  -->
                <div class="col-2 border bg-light">キャビンクラス（復路）</div>
                <div class="col-1 form-check">
                    <input class="form-check-input" type="radio" name="cabinClassRoundTripRadioButton" id="cabinClassRoundTripRadioButton" value="0">
                    <label class="form-check-label" for="cabinClassRoundTripRadioButton">
                        エコノミー
                    </label>
                </div>
                <div class="col-1 form-check">
                    <input class="form-check-input" type="radio" name="cabinClassRoundTripRadioButton" id="cabinClassRoundTripRadioButton" value="1">
                    <label class="form-check-label" for="cabinClassRoundTripRadioButton">
                        プレミアムエコノミー
                    </label>
                </div>    
                <div class="col-1 form-check">
                    <input class="form-check-input" type="radio" name="cabinClassRoundTripRadioButton" id="cabinClassRoundTripRadioButton" value="2">
                    <label class="form-check-label" for="cabinClassRoundTripRadioButton">
                        ビジネス
                    </label>
                </div>
                <div class="col-1 form-check">
                    <input class="form-check-input" type="radio" name="cabinClassRoundTripRadioButton" id="cabinClassRoundTripRadioButton" value="3">
                    <label class="form-check-label" for="cabinClassRoundTripRadioButton">
                        ファースト
                    </label>
                </div>
            </div>
        </div>

        <!-- 便名（往路） -->
        <div class="container-fluid ml-5" >
            <div class="row">
                <!-- 便名（往路） -->
                <div class="col-3 border bg-light">便名（往路）</div>
                <div class="col-3 border">
                    <input type="text" id="flightNumberOutboundTripTxt" name="flightNumberOutboundTripTxt" size="10" >
                </div>
                <!-- 便名（複路）-->
                <div class="col-3 border bg-light">便名（複路）</div>
                <div class="col-3 border">
                    <input type="text" id="flightNumberRoundTripTxt" name="flightNumberRoundTripTxt" size="10" >
                </div>
            </div>
        </div>    
    </div>

    <p style="margin-left: 50px;" >
        <input type="submit" value="登録" class="btn btn-primary" />
        <input type="submit" value="一時保存" class="btn btn-primary" />
        <input type="submit" value="最新情報取得" class="btn btn-primary" />
    </p>
</form>
{% endblock %}