{% extends "app1/index.html" %}
{% block main %}
<!-- 一覧画面-->
<div class="table_box">
    <table border="1">
        <tr>
            <th class="sticky">id</th>
            <th class="sticky">登録形態</th>
            <th class="sticky">出力先_JTB</th>
            <th class="sticky">出力先_トラベルコ</th>
            <th class="sticky">出力先_パンフレット</th>
            <th class="sticky">出発地</th>
            <th class="sticky">大人人数</th>
            <th class="sticky">出発日設定時間</th>
            <th class="sticky">絶対設定_開始日付</th>
            <th class="sticky">絶対設定_終了日付</th>
            <th class="sticky">相対設定1_開始日付</th>
            <th class="sticky">相対設定1_終了日付</th>
            <th class="sticky">相対設定2_開始日付</th>
            <th class="sticky">相対設定2_終了日付</th>
            <th class="sticky">ルートパッケージID</th>
            <th class="sticky">1都市目</th>
            <th class="sticky">1都市目_現地出発日</th>
            <th class="sticky">1都市目_ホテルタリフコード</th>
            <th class="sticky">1都市目_LOP会社コード</th>
            <th class="sticky">1都市目_プランID</th>
            <th class="sticky">2都市目</th>
            <th class="sticky">2都市目_現地出発日</th>
            <th class="sticky">2都市目_ホテルタリフコード</th>
            <th class="sticky">3都市目</th>
            <th class="sticky">3都市目_現地出発日</th>
            <th class="sticky">3都市目_ホテルタリフコード</th>
            <th class="sticky">航空会社</th>
            <th class="sticky">直行便指定</th>
            <th class="sticky">キャビンクラス（往路）</th>
            <th class="sticky">キャビンクラス（複路）</th>
            <th class="sticky">便名（往路）</th>
            <th class="sticky">便名（複路）</th>
            <th class="sticky">作成日時</th>
            <th class="sticky">更新日時</th>
        </tr>
        {% for object in object_list %}
        <tr>
            <td><a href="{% url 'csv_export' %}" name="id" value="{{ object.id }}">{{ object.id }}</a></td>
            <td>{{ object.get_registrationFormRadioButton_display }}</td>
            <td>{{ object.outputDestinationJtbChackBox }}</td>
            <td>{{ object.outputDestinationTravelChackBox }}</td>
            <td>{{ object.outputDestinationPamphletChackBox }}</td>
            <td>{{ object.get_departurePoint_display }}</td>
            <td>{{ object.adultNum }}</td>
            <td>{{ object.get_departureDateSettingRadio_display }}</td>
            <td>{{ object.absoluteSettingStartDate | date:'Y/m/d H:i' }}</p>
            <td>{{ object.absoluteSettingEndDate | date:'Y/m/d H:i' }}</p>
            <td>{{ object.relativeSettings1StartList }}</td>
            <td>{{ object.relativeSettings1EndList }}</td>
            <td>{{ object.relativeSettings2StartDayTxt }}</td>
            <td>{{ object.relativeSettings2EndDayTxt }}</td>
            <td>{{ object.rootPackageId }}</td>
            <td>{{ object.firstCity }}</td>
            <td>{{ object.firstCityDepartureDate }}</td>
            <td>{{ object.firstCityHotelTariffCode1 }} {{ object.firstCityHotelTariffCode2 }}</td>
            <td>{{ object.firstCityLopCompanyCode }}</td>
            <td>{{ object.firstCityPlanId }}</td>
            <td>{{ object.secondtCity }}</td>
            <td>{{ object.secondtCityDepartureDate }}</td>
            <td>{{ object.secondtCityHotelTariffCode1 }} {{ object.secondtCityHotelTariffCode2 }}</td>
            <td>{{ object.thirdCity }}</td>
            <td>{{ object.thirdCityDepartureDate }}</td>
            <td>{{ object.thirdCityHotelTariffCode1 }} {{ object.thirdCityHotelTariffCode2 }}</td>
            <td>{{ object.airlinesSelectTxt }}</td>
            <td>{{ object.useDirectFlightChackBox }}</td>
            <td>{{ object.get_cabinClassOutboundTripRadioButton_display }}</td>
            <td>{{ object.get_cabinClassRoundTripRadioButton_display }}</td>
            <td>{{ object.flightNumberOutboundTripTxt }}</td>
            <td>{{ object.flightNumberRoundTripTxt }}</td>
            <td>{{ object.created_at | date:'Y/m/d H:i' }}</p>
            <td>{{ object.updated_at | date:'Y/m/d H:i' }}</p>
        </tr>
        {% endfor %}
    </table>
</div>
<p>
    <a href="{% url 'create' %}" style="margin-left: 50px;" class="btn btn-primary">条件追加</a>
    <a href="{% url 'csv_export' %}" class="btn btn-primary">csv出力</a>
    <a href="{% url 'csv_export_target' %}" class="btn btn-primary">csv対象出力</a>
    <a href="{% url 'csv_import' %}" class="btn btn-primary">csvファイルjson変換</a>
    <a href="{% url 'upload_file_to_s3' %}" class="btn btn-primary">csvS3アップロード</a>
    <a href="{% url 'download_file_from_s3' %}" class="btn btn-primary">csvS3からダウンロード</a>
</p>
{% endblock %}

