<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment-with-locales.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />
        <title>Document</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-danger text-white">
            <a class="navbar-brand" href="/">T-UP3</a>
        </nav>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white mt-2 ml-1 mr-1">
            <a class="navbar-brand" href="/">コンテンツ新規登録</a>
        </nav>
        <nav class="navbar navbar-expand-lg navbar-dark bg-secondary text-white mt-2 ml-5 mr-5">
            <a class="navbar-brand" href="/">自動更新用検索条件</a>
        </nav>
        {% block main %}
        <form method="post">
            <!-- 自動更新用検索条件 -->
            <div class="container-fluid ml-0">

                <!-- 登録形態 -->
                <div class="container-fluid ml-5" >
                    <div class="row">
                        <div class="col-3 border bg-light">登録形態</div>
                        <div class="col-2 form-check">
                            <input class="form-check-input" type="radio" name="registrationFormRadioButton" id="registrationFormRadioButton">
                            <label class="form-check-label" for="registrationFormRadioButton">
                                エスコート
                            </label>
                        </div>
                        <div class="col-2 form-check">
                            <input class="form-check-input" type="radio" name="registrationFormRadioButton" id="registrationFormRadioButton">
                            <label class="form-check-label" for="registrationFormRadioButton">
                                MySTYLE(UAH含む)
                            </label>
                        </div>    
                        <div class="col-1 form-check">
                            <input class="form-check-input" type="radio" name="registrationFormRadioButton" id="registrationFormRadioButton">
                            <label class="form-check-label" for="registrationFormRadioButton">
                            航空券
                            </label>
                        </div>
                        <div class="col-1 form-check">
                            <input class="form-check-input" type="radio" name="registrationFormRadioButton" id="registrationFormRadioButton">
                            <label class="form-check-label" for="registrationFormRadioButton">
                            ホテル
                            </label>
                        </div>
                    </div>
                </div> 

                <!-- 出力先 -->
                <div class="container-fluid ml-5" >
                    <div class="row">
                        <div class="col-3 border bg-light ">出力先</div>
                        <div class="col-8 border">
                            <input class="ml-1" type="checkbox" id="outputDestinationJtbChackBox" name="outputDestinationJtbChackBox" />
                            <label for="horns">JTB</label>
                            <input class="ml-1" type="checkbox" id="outputDestinationTravelChackBox" name="outputDestinationTravelChackBox" />
                            <label for="horns">トラベルコ</label>
                            <input class="ml-1" type="checkbox" id="outputDestinationPamphletChackBox" name="outputDestinationPamphletChackBox" />
                            <label for="horns">パンフレット</label>
                        </div>
                    </div>
                </div>  

                <!-- 出発地 -->
                <div class="container-fluid ml-5" >
                    <div class="row">
                        <div class="col-3 border bg-light">出発地</div>
                        <div class="col-8 border">
                            <select class="form-select" aria-label="Default select example" id="departurePoint" name="departurePoint">
                                <option selected>---------</option>
                                <option value="1">東京(羽田⁺成田)</option>
                                <option value="2">東京(羽田)</option>
                                <option value="3">東京(成田)</option>
                                <option value="4">大阪(関空+伊丹+神戸)</option>
                                <option value="5">札幌(新札幌)</option>
                                <option value="6">名古屋(新千歳)</option>
                                <option value="7">福岡</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- 出発日設定時間 -->
                <div class="container-fluid ml-5" >
                    <div class="row">
                        <div class="col-3 border bg-light">出発日設定時間</div>
                        <div class="col-8 border form-check">
                            
                            <!-- 絶対設定 -->
                            <input class="form-check-input" type="radio" name="departureDateSettingRadio" id="departureDateSettingRadio">
                            <label class="form-check-label" for="departureDateSettingRadio">絶対設定</label>
                            <input type="date" class="ml-4" id="absoluteSettingStartDate" name="absoluteSettingStartDate" value="2018-07-22" min="2018-01-01" max="2018-12-31" />
                            <Label>～</Label>
                            <input type="date" id="absoluteSettingEndDate" name="absoluteSettingEndDate" value="2018-07-22" min="2018-01-01" max="2018-12-31" />
                            <br>

                            <!-- 相対設定1 -->
                            <input class="form-check-input" type="radio" name="departureDateSettingRadio" id="departureDateSettingRadio">
                            <label class="form-check-label" for="departureDateSettingRadio">絶対設定1</label>
                            <select class="form-select ml-3" aria-label="Default select example" id="relativeSettings1StartList" name="relativeSettings1StartList">
                                    <option selected>---------</option>
                                    <option value="1">サンプル1</option>
                                    <option value="2">サンプル2</option>
                                    <option value="3">サンプル3</option>
                                    <option value="4">サンプル4</option>
                                    <option value="5">サンプル5</option>
                                    <option value="6">サンプル6</option>
                                    <option value="7">サンプル7</option>
                            </select>
                            <Label>～</Label>
                            <select class="form-select ml-3" aria-label="Default select example" id="relativeSettings1EndList" name="relativeSettings1EndList">
                                <option selected>---------</option>
                                <option value="1">サンプル1</option>
                                <option value="2">サンプル2</option>
                                <option value="3">サンプル3</option>
                                <option value="4">サンプル4</option>
                                <option value="5">サンプル5</option>
                                <option value="6">サンプル6</option>
                                <option value="7">サンプル7</option>
                            </select>                   
                            <br>

                            <!-- 相対設定2 -->
                            <input class="form-check-input" type="radio" name="departureDateSettingRadio" id="departureDateSettingRadio">
                            <label class="form-check-label" for="departureDateSettingRadio">絶対設定2</label>
                            <input type="text" class="ml-3" size="3" id="relativeSettings2StartDayTxt" name="relativeSettings2StartDayTxt" value=""/>
                            <Label>日後～</Label>
                            <input type="text" class="ml-3" size="3" id="relativeSettings2EndDayTxt" name="relativeSettings2EndDayTxt" value=""/>
                            <Label>日後</Label>
                        </div>
                    </div>
                </div>

                <!-- ルートパッケージID -->
                <div class="container-fluid ml-5" >
                    <div class="row">
                        <div class="col-3 border bg-light">ルートパッケージID</div>
                        <div class="col-8 border">
                            <input type="text" name="rotePackageId">
                        </div>
                    </div>
                </div>  

                <!-- サービスパッケージID -->
                <div class="container-fluid ml-5" >
                    <div class="row">
                        <div class="col-3 border bg-light">サービスパッケージID</div>

                        <!-- サービスパッケージID行 1列目-->
                        <div class="d-flex flex-column ml-1">
                            <div class="p-2">
                                <div class="d-flex flex-row ml-1">
                                        <div class="p-2 bg-light border">1都市目</div>
                                        <div class="p-2 border">
                                            <input type="text">
                                        </div>
                                </div>
                            </div>
                            <div class="p-2">
                                <div class="d-flex flex-row ml-1">
                                        <div class="p-2 bg-light border">2都市目</div>
                                        <div class="p-2 border">
                                            <input type="text">
                                        </div>
                                </div>
                            </div>
                            <div class="p-2">
                                <div class="d-flex flex-row ml-1">
                                        <div class="p-2 bg-light border">3都市目</div>
                                        <div class="p-2 border">
                                            <input type="text">
                                        </div>
                                </div>
                            </div>
                        </div>

                        <!-- サービスパッケージID行 2列目-->
                        <div class="d-flex flex-column ml-1">
                            <div class="p-2">
                                <div class="d-flex flex-row ml-1">
                                        <div class="p-2 bg-light border">現地出発日</div>
                                        <div class="p-2 border">
                                            <input type="text">
                                            <a>日後</a>
                                        </div>
                                </div>
                            </div>
                            <div class="p-2">
                                <div class="d-flex flex-row ml-1">
                                        <div class="p-2 bg-light border">LOP会社コード</div>
                                        <div class="p-2 border">
                                            <input type="text">
                                        </div>
                                </div>
                            </div>
                            <div class="p-2">
                                <div class="d-flex flex-row ml-1">
                                        <div class="p-2 bg-light border">現地出発日</div>
                                        <div class="p-2 border">
                                            <input type="text">
                                            <a>日後</a>
                                        </div>
                                </div>
                            </div>
                            <div class="p-2">
                                <div class="d-flex flex-row ml-1">
                                        <div class="p-2 bg-light border">現地出発日</div>
                                        <div class="p-2 border">
                                            <input type="text">
                                            <a>日後</a>
                                        </div>
                                </div>
                            </div>
                        </div>

                        <!-- サービスパッケージID行 3列目-->
                        <div class="d-flex flex-column ml-1">
                            <div class="p-2">
                                <div class="d-flex flex-row ml-1">
                                        <div class="p-2 bg-light border">ホテルタリフコード</div>
                                        <div class="p-2 border">
                                            <input type="text">
                                            <a>日後</a>
                                        </div>
                                </div>
                            </div>
                            <div class="p-2">
                                <div class="d-flex flex-row ml-1">
                                        <div class="p-2 bg-light border">プランID</div>
                                        <div class="p-2 border">
                                            <input type="text">
                                        </div>
                                </div>
                            </div>
                            <div class="p-2">
                                <div class="d-flex flex-row ml-1">
                                        <div class="p-2 bg-light border">ホテルタリフコード</div>
                                        <div class="p-2 border">
                                            <input type="text">
                                            <a>日後</a>
                                        </div>
                                </div>
                            </div>
                            <div class="p-2">
                                <div class="d-flex flex-row ml-1">
                                        <div class="p-2 bg-light border">ホテルタリフコード</div>
                                        <div class="p-2 border">
                                            <input type="text">
                                            <a>日後</a>
                                        </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

                <!-- 航空会社 -->
                <div class="container-fluid ml-5" >
                    <div class="row">
                        <div class="col-3 border bg-light">航空会社</div>
                        <div class="col-8 border">航空会社</div>
                    </div>
                </div>

                <!-- キャビンクラス（往路） -->
                <div class="container-fluid ml-5" >
                    <div class="row">
                        <div class="col-3 border bg-light">キャビンクラス（往路）</div>
                        <div class="col-8 border">キャビンクラス（往路）</div>
                    </div>
                </div>

                <!-- 便名（往路） -->
                <div class="container-fluid ml-5" >
                    <div class="row">
                        <div class="col-3 border bg-light">便名（往路）</div>
                        <div class="col-8 border">便名（往路）</div>
                    </div>
                </div>
            </div>
            <input type="submit" value="登録" class="btn btn-primary" />
            <input type="submit" value="一時保存" class="btn btn-primary" />
            <input type="submit" value="最新情報取得" class="btn btn-primary" />
        </form>
        {% endblock %}
    </body>
</html>